apps/bfd-pipeline/bfd-pipeline-ccw-rif/src/main/resources/bfd-manifest.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://cms.hhs.gov/bluebutton/api/schema/ccw-rif/v10"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataSetManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="entry">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="exportType" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="preValidationProperties" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>            
              <xs:element name="clm_grp_id_start" type="xs:long" />
              <xs:element name="pde_id_start" type="xs:long" />
              <xs:element name="carr_clm_cntl_num_start" type="xs:long" />
              <xs:element name="fi_doc_cntl_num_start" type="xs:string" />
              <xs:element name="hicn_start" type="xs:string" />
              <xs:element name="bene_id_start" type="xs:long" />
              <xs:element name="clm_id_start" type="xs:long" />
              <xs:element name="mbi_start" type="xs:string" />
              <xs:element name="bene_id_end" type="xs:long" />
              <xs:element name="clm_id_end" type="xs:long" />
              <xs:element name="pde_id_end" type="xs:long" />
              <xs:element name="generated" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="timestamp" type="xs:dateTime" use="required" />
      <xs:attribute name="sequenceId" type="xs:integer" use="required" />
      <xs:attribute name="syntheticData" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>
